<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DD@Electron</title>
  <link rel="stylesheet" href="./bulma/bulma.css">
  <script src="./vue/vue.js"></script>
  <style>
    .fullheight {
      height: calc(100vh + 24px);
      width: 3000px;
      position: absolute;
      top: 0;
      overflow: hidden;
      font-family: monospace;
      font-size: 12px;
      color: grey;
      opacity: 0.233;
      padding-top: 2px;
      padding-left: 2px;
    }

    .cursorHelp {
      cursor: help;
    }

  </style>
</head>

<body style="-webkit-app-region: drag">

  <div id="main" style="display: none;">
    <div class="fullheight">
      <p v-for="log in logs">
        {{log}}
      </p>
    </div>

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            DD<i>@</i>Electron
          </h1>
          <h2 class="subtitle">DD@Home</h2>
          <br>
          <nav class="level has-text-centered">
            <div class="level-item">
              <div>
                <p class="heading">已处理请求</p>
                <p class="title">{{state.completeNum}}</p>
              </div>
            </div>
            <div class="level-item">
              <div>
                <p class="heading">运行时间</p>
                <p class="title">{{uptime}}</p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <hr>

    <section class="section">
      <div class="container">
        <h1 class="title">弹幕</h1>
        <h2 class="subtitle">Danmaku</h2>
      </div>
      <br>

      <form @submit="send">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="弹幕" v-model="danmaku">
          </div>
          <div class="control">
            <button class="button is-info" type="submit" :disabled="danmakuWait">
              发送
            </button>
          </div>
        </div>
      </form>

      <br>

      <p v-for="[nickname, danmaku] in danmakus">
        <b>{{nickname}}:</b> {{danmaku}}
      </p>

    </section>

    <hr>

    <section class="section">
      <div class="container">
        <h1 class="title">状态</h1>
        <h2 class="subtitle">Service</h2>
      </div>
      <br>
      <nav class="level has-text-centered">
        <div class="level-item">
          <div>
            <p class="heading">目前在线</p>
            <p class="title">{{state.online}}</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">任务</p>
            <p class="title">{{state.pending}}</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading cursorHelp" title="每分钟处理能力">DD力</p>
            <p class="title">{{state.power}}</p>
          </div>
        </div>
      </nav>

      <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
          <tbody>
            <tr v-for="home in homes" :key="home.id">
              <td>{{home.name}}@{{home.runtime}}</td>
              <td>{{home.resolves}}/{{home.sum}}</td>
              <td>{{home.platform}}</td>
              <td>{{home.version}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>

    <hr>

    <section class="section">
      <div class="container">
        <h1 class="title">设置</h1>
        <h2 class="subtitle">(重载生效)</h2>
      </div>
      <br>

      <div class="field">
        <label class="label">间隔</label>
        <div class="control">
          <input class="input" type="number" v-model="interval" :class="{'is-danger': intervalWarning}" placeholder="毫秒">
        </div>
        <p class="help is-danger" v-if="intervalWarning">
          间隔太小会影响使用bilibili
        </p>
        <p class="help">当前: {{state.INTERVAL}} ms</p>
      </div>

      <br>

      <div class="field">
        <label class="label">昵称 (可选)</label>
        <div class="control">
          <input class="input" type="text" v-model="nickname" placeholder="会显示在统计中哦">
        </div>
        <p class="help">当前: {{state.nickname || '无'}}</p>
      </div>

      <br>

      <div class="field">
        <p class="control">
          <button class="button is-inverted is-outlined is-rounded" @click="close">
            重载
          </button>
        </p>
      </div>

      <br>

      <p>当前url: <code>{{state.url}}</code></p>

    </section>

    <hr>

    <section class="section">
      <div class="container">
        <h1 class="title">关于</h1>
        <h2 class="subtitle">
          DD@Electron v{{version}}
        </h2>
        <p>已处理请求(总计): {{state.completeNum}}</p>
        <p>已处理请求(本次启动): {{state.completeNumNow}}</p>
        <p>平均间隔: {{state.delay}}ms</p>
        <p>运行时间: {{uptime}}</p>
        <br>
        <p>Github: <a href="https://github.com/dd-center/DDatElectron" target="_blank" rel="noopener noreferrer">https://github.com/dd-center/DDatElectron</a></p>
        <br>
        <p>版本: {{version}} <span v-if="state.update === false">(最新版本)</span></p>
        <p v-if="state.update">(新版本 {{state.update}}) <a v-if="state.updateDownloaded" @click="restart" class="button is-small is-rounded is-info">重启更新</a></p>
        <template v-if="state.updateProgress && !state.updateDownloaded">
          <p>{{Math.round(state.updateProgress.total/1024/1024*100)/100}}MB 下载中...</p>
          <progress class="progress is-small" :value="state.updateProgress.percent" max="100"></progress>
        </template>
      </div>
    </section>
  </div>

</body>
<script src="./main.js"></script>

</html>
