<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DD@Electron</title>
  <link rel="stylesheet" href="./bulma/css/bulma.css">
  <script src="./vue/dist/vue.js"></script>
</head>

<body>

  <div id="main">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            DD<i>@</i>Electron
          </h1>
          <h2 class="subtitle">v{{version}}</h2>
          <br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">已处理请求</p>
                <p class="title">{{state.completeNum}}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">运行时间</p>
                <p class="title">{{uptime}}</p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <hr>

    <section class="section">
      <div class="container">
        <h1 class="title">设置 (重启生效)</h1>
      </div>
      <br>

      <div class="field">
        <label class="label">间隔</label>
        <div class="control">
          <input class="input" type="number" v-model="interval" :class="{'is-danger': intervalWarning}" placeholder="毫秒">
        </div>
        <p class="help is-danger" v-if="intervalWarning">
          间隔太小会影响使用bilibili
        </p>
        <p class="help">目前: {{state.INTERVAL}} ms</p>
      </div>

      <br>

      <div class="field">
        <p class="control">
          <button class="button is-inverted is-outlined is-rounded" @click="close">
            重启
          </button>
        </p>
      </div>

      <br>

      <p>当前url: <code>{{state.url}}</code></p>

    </section>

    <hr>

    <section class="section">
      <div class="container">
        <h1 class="title">关于</h1>
        <h2 class="subtitle">
          DD@Electron
        </h2>
        <p>Github: <a href="https://github.com/dd-center/DDatElectron" target="_blank" rel="noopener noreferrer">https://github.com/dd-center/DDatElectron</a></p>
      </div>
    </section>
  </div>

</body>
<script src="./main.js"></script>

</html>
